<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="2"> <!-- Set parallel execution and thread count -->

    <listeners>
        <listener class-name="com.bugaboo.listeners.CustomListener"/>
    </listeners>

    <test name="Smoke Tests">
        <parameter name="configFile" value="config_chrome.properties"/>
        <classes>
            <class name="com.bugaboo.HomeTest" />
        </classes>
    </test>

    <test name="Smoke Tests">
        <parameter name="configFile" value="config_chrome.properties"/>
        <classes>
            <class name="com.bugaboo.CheckProductTest" />
        </classes>
    </test>

    <!-- Headless Tests -->
    <test name="Regression Tests">
        <parameter name="configFile" value="config_chrome.properties"/>
        <classes>
            <class name="com.bugaboo.StrollerTest">
                <methods>
                    <exclude name="colorStrollerTest"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>

